* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}

/* A partir daqui menu*/

main.menu {
    background-color: #CBF0EB;
    width: auto;
    border-radius: 1em;
    padding-block: 30px; 
    margin-bottom: 20px;
    
     
}

a.menu {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-right: 50px;
    
    
    
}

a.menu:hover {
    color: rgb(81, 47, 114);
}

/* A partir daqui Body*/

body {
    background-image: linear-gradient(to bottom, #13A0EB, #0F7CB8, #29546B);
    background-attachment: fixed;
}

main.text {
    background-color: #CBF0EB;
    width: 700px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.425);
    border-radius: 2em; 
}

h1 {
    font-size: 2em;
    color: blue;
}

h2 {
    font-size: 1.5em;
    color: rgb(81, 47, 114);
}


p.text1 {
    font-family: Arial, Helvetica, sans-serif;

}

img.side {
    float: right;
}


a.sub {
    text-decoration: none;
    font-weight: bold;
    color: blue;
}

a.sub:hover {
    text-decoration: underline;
    color: blue;
}

/*A partir daqui, página frontEnd*/

h1.titleFE {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(65, 65, 250);
}

h2.textFE {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}